@model DepartmentViewModel

<h1 class="bg-info text-white">Update a Department</h1>
<a asp-action="Index" class="btn btn-secondary">Back</a>
<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="Update" method="post">
    <input type="hidden" name="DepartmentId" value="@Model.ID" />
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>
<partial name="_notificationPartial" />
